.auth-page {
  width: 100vw;
  min-height: calc(100vh - 10rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-page .auth-container {
  width: 25%;
  box-shadow: var(--shadow-sm);
  padding: 3rem 3rem;
  border-radius: 7px;
}

.auth-container .heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}