.address-component {
  width: 80%;
  margin: auto;
  padding: 3rem 0;
  border-radius: 7px;
  /* box-shadow: var(--shadow-sm); */
}

.address-component .address-form select {
  padding: 3px 1rem;
  vertical-align: middle;
  border-radius: 2px;
  width: 100%;
  min-height: 36px;
  background-color: #ffffff;
  border: 1px solid var(--secondary-dark);
  transition: all 0.2s ease-in-out 0s;
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  margin-bottom: 1rem;
}

.address-component .address-form .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.address-component .address-form .row div {
  width: 100%;
}

.address-component .address-form .payment-options {
  display: flex;
  flex-direction: column;
}

.address-component .address-form .payment-options .option {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 3px 1rem;
  vertical-align: middle;
  border-radius: 2px;
  width: 100%;
  min-height: 36px;
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.address-component .address-form .payment-options .option input {
  width: 10%;
  accent-color: var(--accent-color);
}

.address-component .address-form .payment-options .option input[disabled] {
  background-color: red;
}

.address-component .address-form .payment-options .option label {
  width: 90%;
}

.address-component .address-form .payment-options .option label svg {
  margin-right: 1rem;
}