.latest-section{
  background: var(--primary-dark);
  color: var(--primary-light);
  padding: 5rem 7rem 5rem 7rem;
}

.latest-section .products-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
  }