.size-options .size-option {
  height: 3rem;
  width: 6rem;
  font-weight: 500;
  font-size: 1.4rem;
  font-family: var(--font-main);
  outline: none;
  border: 1px solid var(--secondary-dark);
  background-color: var(--primary-light);
  color: var(--primary-dark);
  border-radius: 2px;
}

.size-options .selected {
  outline: 2px solid var(--secondary-dark);
}

.size-options .size-option:disabled,
.size-options .size-option[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}