.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  padding: 2rem 2rem;
  margin: 2rem 0;
  box-shadow: var(--shadow-sm);
  border-radius: 7px;
}

.cart-item .img-container {
  width: 20%;
  aspect-ratio: 5 / 7;
  border-radius: 7px;
  overflow: hidden;
}

.cart-item .details-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item .details-container .price {
  color: var(--secondary-dark);
}

.cart-item .details-container .varient {
  margin-top: 1rem;
}

.cart-item .details-container .color {
  text-transform: capitalize;
}

.cart-item .details-container .buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item .details-container .buttons-container .quantity-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-item .details-container .quantity-btn {
  outline: none;
  padding: 1rem 2rem;
  background: none;
  color: var(--primary-dark);
  border: 1px solid var(--primary-dark);  
  font-size: 2rem;
  border-radius: 2px;
}

.cart-item .details-container .quantity-btn:hover {
  background: var(--primary-dark);
  color: var(--primary-light);
}

.cart-item .details-container .quantity-btn:disabled,
.cart-item .details-container .quantity-btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.cart-item .details-container .quantity {
  margin: 0 2rem;
} 

.cart-item .details-container .delete-item {
  width: 100%;
  outline: none;
  padding: 1rem 2rem;
  background: var(--accent-color);
  color: var(--primary-light);
  border: 1px solid var(--accent-color);  
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item .details-container .delete-item:hover {
  background: var(--primary-light);
  color: var(--accent-color);
}

.cart-item .details-container .delete-item span {
  margin-left: 1rem;
}

@media (max-width: 1024px) {
  .cart-item {
    width: 43%;
  }

  .cart-item .details-container .quantity {
    margin: 0 1rem;
  }
}

@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
  }

  .cart-item .img-container {
    width: 100%;
    margin-bottom: 1rem;
  }

  .cart-item .details-container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item .details-container .buttons-container {
    width: 100%;
    justify-content: space-between;
  }

  .cart-item .details-container .buttons-container .quantity-container {
    width: 100%;
    justify-content: space-evenly;
    margin: 2rem auto;
  }
}

@media (max-width: 480px) {
  .cart-item {
    width: 90%;
    flex-direction: row;
    align-items: center;
  }

  .cart-item .img-container {
    width: 20%;
  }

  .cart-item .details-container {
    width: 75%;
    flex-direction: row;
    align-items: flex-start;
  }

  .cart-item .details-container .buttons-container {
    width: 50%;
    justify-content: space-between;
  }

  .cart-item .details-container .quantity-btn {
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
  }

  .cart-item .details-container .delete-item {
    width: 75%;
    padding: 0.8rem;
    font-size: 1.4rem;
  }

  .cart-item .details-container .buttons-container .quantity-container {
    width: 100%;
    justify-content: center;
    margin: 0;
    margin-bottom: 1rem;
  }
}